h1 {
    /* color: rgb(84, 131, 72); */
    color:  #297a58;
    font-family: 'Sofia';
    font-size: 500%;
}

p {
    font-family: 'Vollkorn';
}

h2 {
    font-family: 'Vollkorn';
}

h3 {
    font-family: 'Vollkorn';
}

h4 {
    font-family: 'Vollkorn';
}

h5 {
    font-family: 'Vollkorn';
}

h6 {
    font-family: 'Vollkorn';
}

#plantbox {
    height: auto;
    margin: 2% 15% 20% 15%;
    color: #18494d;
    padding: 0 10% 10% 10%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color:  #18494d;
    line-height: 25px;
}

#friendorfrond {
    margin: 2% 5% 5% 5%;
    height: 200px;
    color: #18494d;
    padding: 0 5% 5% 5%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color:  #18494d;
    line-height: 25px;
}

.box {
    float: left;
    width: 200px;
    margin: 2% 5% 2% 5%;
    padding: 10px;
    border: 2px dashed #297a58;;
}

#friendsurveybox {
    height: auto;
    margin: 2% 15% 10% 15%;
    color: #18494d;
    padding: 0 10% 10% 10%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color:  #18494d;
    line-height: 25px;
}

#frondsurveybox {
    height: auto;
    margin: 2% 15% 10% 15%;
    color: #18494d;
    padding: 0 10% 10% 10%;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color:  #18494d;
    line-height: 25px;
}
button {
    background-color:  #18494d;
    border: double;
    border-width: 5px;
    color: rgb(250, 231, 231);
    padding: 4px 10px;
    text-align: center;
    display: inline-block;
    font-family: 'Sofia';
    font-size: 22px;
}